/*

!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/EasySpacy
/wp-content/themes/EasySpacy/public/*

!/.idea

!/Wireframe
!/Design
!/fonts
!/couleurs
!.gitignore
!readme.md
!package.json
!webpack.mix.js
